S3method(plot,holos)
S3method(print,holos)
export(about_bee)
export(holos_observations)
export(holos_photos)
export(holos_photos_get)
export(holos_sensors)
export(holos_sources)
importFrom(RCurl,getURL)
importFrom(RJSONIO,fromJSON)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,stop_for_status)
importFrom(plyr,compact)
importFrom(plyr,ldply)
