export(about_bee)
export(holos_observations)
export(holos_photos)
export(holos_sources)
import(GET)
import(compact)
import(content)
import(httr)
import(plyr)
importFrom(RCurl,getURL)
importFrom(RJSONIO,fromJSON)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,stop_for_status)
importFrom(plyr,compact)
importFrom(plyr,ldply)
